#header {
  display: flex;
  width: fit-content;
  margin: 0 auto;
}

#logo {
  width: 100px;
}

#board {
  display: flex;
  width: fit-content;
  margin: 0 auto;
}

#board-img {
  margin-top: 20px;
  width: 500px;
}

body {
  background-color: burlywood;
}